@font-face {
    font-family: "Vazir";
    src: url('/public/fonts/Vazir-Medium-FD-WOL.ttf');
}
@font-face {
    font-family: "B Yekan";
    src: url('/public/fonts/BYekan.woff');
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: Vazir, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    direction: rtl;
}

* {
    /*box-sizing: border-box;*/
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
p{
    font-family: "B Yekan";
}
